driver.o
edm.o
geo.o
intersect.o
isfinite.o
label.o
marching.o
minkval.o
readpgm.o
readpoly3.o
readpoly.o
tinyconf.o
tsvdiff.o
util.o
writepgm.o
papaya
testdata/eigensystem
testdata/tsvdiff
testdata/pgmreader
ts.headers
*.pyc
